@charset "utf-8";
/* CSS Document */

 
 /* 1-11-19 */
 
 
 img {
    width: auto;
    height: auto;
    max-width: 100%;
    transition: all 400ms;
    -webkit-transition: all 400ms;
}
  

.modal-content {
    padding: 20px 0px;
}


.modal .close {
    opacity: 1;
    position: absolute;
    right: 0;
    top: 1px;
    z-index: 99;
    border-radius: 57px;
    background: #fff;
    width: 34px;
    height: 35px;
    padding: 5px;
    box-shadow: -2px 2px 3px #00000057;
}


.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    background: #fff;
    border: 1px solid #ccc;
    /* border-top: 0px solid; */
}

 .main-title {
    margin-left: 20px;
    padding-top: 25px;
}
.main-title ul {padding:0;
margin:0;
list-style:none;
margin-bottom: 22px;
}

.main-title ul li a {
    margin-right: 10px;
}
 
 
  .intro-hd  ul {padding:0;
margin:0;
list-style:none;
margin-bottom: 22px;
}

 .intro-hd ul li img {
    padding: 0;
    margin-top: -18px;
    margin-right: 12px;
}

 .intro-hd ul li p {
    padding: 5px 27px;
    margin: 0px;
    color: #15b8d4;
    width: 100%;
    background: #f0f0f0;
    display: inline-block;
    border-radius: 26px;
}

.box-txt-in {
    float: left;
    width: 100%;
    margin-top: 30px;
}

header {
    box-shadow: 0px 5px 10px 0px #cccccc7d;
}

.ico-top-head{
	
	}
	
	
	.ico-top-head li {
    margin: 0 0 0 19px;
}

.right-top-main{
	
	}
	
	.right-top-main a {
    margin-right: 25px;
}

.right-top-main ul li i {
    color: #ed1e3b;
    padding: 6px;
    background: #f0f0f0;
    border-radius: 32px;
    margin-right: 5px;
}

.panel-group.menu-left {
    background: #ebebeb;
    padding: 2px;
    border-bottom: 1px solid #ccc;
}

.glyphicon-ring {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid white;
    color: white;
    display: inline-table;
    text-align: center;
  }

.popupdiv
{
    position: relative;
    height: auto;
    background-color: darkgrey;
    z-index: 10;
    left:50px;
    width: 175px;
    top:-20px;
}

.greet {
    display: none;
    position: absolute;
    width: 6em;
    line-height: 2em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color:#FFF;
    border-radius: .4em;
    background:#000;
}